<!DOCTYPE html>
<html>
<head>
  <title>AJCalculator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link type="text/javascript" src="my_js_lib.js" >
  <link language="javascript" type="text/javascript" src="jquery.flot.js"
</head>
<body>
  <%= yield %>
</body>
</html>
